* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: block;
  width: 80vh;
  height: 100vw;
 
  margin: 0 auto;
  margin-top: 10%;
  
}
#table {
  width: 100%;
  height: 100%;

  min-width: 800px;
  max-width: 900px;
  min-height: 500px;

  color: rgb(0, 0, 0);
  font-weight: 700;
  text-align: center;
 
  max-height: 600px;
  border: 1px solid black;
  border-spacing: 0;
  border-radius: 5%;
  overflow: hidden;
} 

#table td {
  border: 1px solid;
  
  padding: 20px 20px;
}

#table thead tr td span {
  font-size: 3em;
}

#table tr:nth-child(1) {
  background-color: #7887ab;
}

#table td:nth-child(2) {
  background-color: #4f628e;
}

#table td:nth-child(3) {
  background-color: #2e4172;
}

#table td:nth-child(4) {
  background-color: #162955;
}

#table td:nth-child(5) {
  background-color: #061539;
}

.container #table tr td a {
  color: rgb(130, 134, 138);
  background-color: #dbdbdb;
  border: 1px solid gray;
  text-decoration-line: none;
  padding: 5px 25px;
}

.container #table tr td a:hover {
  color: #dbdbdb;
  background-color: #5f5f5f;
}



#table tbody tr td:nth-child(1n) {
  background-color: #f3f3f3;
}
#table tbody tr td:nth-child(2n) {
  background-color: #dbdbdb;
}

#table tbody tr td:nth-child(2n+1) {
  background-color: #e7e7e7;
}

#table thead tr td {
  color: #dbdbdb;
}

