* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  display: block;
  width: 1300px;
  height: 100vw;

  margin: 0 auto;
  margin-top: 10%;
}
#table {
  width: 100%;
  height: 100%;

  min-width: 1200px;
  max-width: 1300px;
  min-height: 500px;

  color: rgb(0, 0, 0);
  font-weight: 400;
  text-align: center;

  max-height: 600px;
  border: 1px solid transparent;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
}

#table td {
  padding: 20px 20px;
}
#table thead tr td {
  font-size: 1.5em;
  font-weight: 700;
}

#table thead tr td span {
  font-size: 2em;
}

#table thead tr:nth-child(1) {
  background-color: #7887ab;
}

#table thead td:nth-child(2) {
  background-color: #4f628e;
}

#table thead td:nth-child(3) {
  background-color: #2e4172;
}

#table thead td:nth-child(4) {
  background-color: #162955;
}

#table thead td:nth-child(5) {
  background-color: #061539;
}

#container #table tr td a {
  color: rgb(130, 134, 138);
  background-color: #dbdbdb;
  border: 1px solid gray;
  text-decoration-line: none;
  padding: 5px 25px;
}

#container #table tr td a:hover {
  color: #dbdbdb;
  background-color: #5f5f5f;
}

#table tbody tr td:nth-child(2n) {
  background-color: #f3f3f3;
}
#table tbody tr td:nth-child(2n + 1) {
  background-color: #dbdbdb;
}

#table tbody tr td:nth-child(3n) {
  background-color: #e7e7e7;
}

#table thead tr td {
  color: #dbdbdb;
}

#table tfoot tr td a {
  text-transform: uppercase;
}

#table tfoot:nth-child(2n) {
  background-color: #f3f3f3;
}

#table tfoot:nth-child(2n + 1) {
  background-color: #dbdbdb;
}

#table tfoot:nth-child(2n + 1) {
  background-color: #e7e7e7;
}
